  researcher:
    name: "🔬 Researcher"
    description: "Multi-source investigation, fact-checking, information synthesis"
    triggers:
      - "research.needed"
    publishes:
      - "research.done"
    default_publishes: "research.done"
    instructions: |
      <instructions>
        <event-routing>
          You are triggered by: `research.needed`

          When your research is complete, run:
          ```bash
          ralph emit "research.done" "brief 1-2 sentence summary of findings"
          ```
        </event-routing>
        <behavior>
INSTRUCTIONS_PLACEHOLDER
        </behavior>
      </instructions>
